.gradient {
    -fx-background-color: linear-gradient(to bottom right, #0f6789, #286155);
}

.white-form{
	-fx-background-color: #fff;

}

.bead-label{
	-fx-border-color: #286155;
	-fx-border-width: 0 0 0 5px;
	-fx-padding: 0 0 0 5px;
}

.login-btn{
	-fx-background-color: linear-gradient(to bottom right, #098c53, #246861);
	-fx-background-radius: 5px;
	-fx-cursor: hand;
	-fx-text-fill: #fff;
	-fx-font-size: 14px;
	
}

.login-btn:hover{
	-fx-background-color: linear-gradient(to bottom right, #0fb565,#399a8f)
}

.textfield{
	-fx-background-color: transparent;
	-fx-border-color: linear-gradient(to bottom right, #0f6789,#286155);
	-fx-border-wigth: .5px;
}

.textfield:focused{
	-fx-border-width: 1px;
}

.create-btn{
	-fx-background-color: transparent;
	-fx-cursor: hand;
	-fx-text-fill: #fff;
	-fx-border-color: #fff;
	-fx-border-width: 1px;
}

.create-btn:hover{
	-fx-background-color: #fff;
	-fx-text-fill: #000;
}

.coffee {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 18px;
    height: 14px;
    border: none; /* Eliminamos el borde */
    background-color: white; /* Establecemos el color de fondo blanco */
    border-radius: 6px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-left: -4px;
    margin-top: 3px;
}

.coffee::after,
.coffee::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
}

.coffee::before {
    left: 2px;
    background: currentColor;
    box-shadow:
        4px 0 0,
        8px 0 0;
    border-radius: 3px;
    width: 2px;
    height: 4px;
    top: -7px;
}

.gg-coffee::after {
    width: 6px;
    height: 8px;
    border: none; /* Eliminamos el borde */
    background-color: white; /* Establecemos el color de fondo blanco */
    border-radius: 100px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    right: -6px;
    top: -1px;
}


